/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* MAIN */
main {}

.container {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 1100px;
    width: 80%;
}

.prima-fila,
.seconda-fila {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 410px;
}

.imga {
    display: block;
    position: absolute;
}

.imgb {
    display: none;
    position: absolute;
}


.contenitore:hover .imga {
    display: none;
}

.contenitore:hover .imgb {
    display: block;
}

img {
    padding-right: 10px;
    max-width: 100%;
}

.contenitore-img {
    position: relative;
    width: 33%;
    overflow: hidden;
}


.heart:hover {
    color: red;
}

.heart {
    color: black;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.sconto-sostenibilità {
    position: absolute;
    left: 0;
    bottom: 30px;
    padding: 0 5px;
}

.sconto {
    color: white;
    background-color: red;
}

.sostenibilità {
    color: white;
    background-color: green;
}

.discount {
    position: absolute;
    bottom: 0;
    left: 0;
}

.marca {
    font-size: 0.8rem;
}