/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* MAIN */
.container {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prima-fila,
.seconda-fila {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    height: 410px;
}

.contenitore1 {
    position: relative;
}

.img1a {
    display: block;
    position: absolute;
}

.img1b {
    display: none;
    position: absolute;
}


.contenitore1:hover .img1a {
    display: none;
}

.contenitore1:hover .img1b {
    display: block;
}

.contenitore2 {
    position: relative;
}

.img2a {
    display: block;
    position: absolute;
}

.img2b {
    display: none;
    position: absolute;
}


.contenitore2:hover .img2a {
    display: none;
}

.contenitore2:hover .img2b {
    display: block;
}

.contenitore3 {
    position: relative;
}

.img3a {
    display: block;
    position: absolute;
}

.img3b {
    display: none;
    position: absolute;
}


.contenitore3:hover .img3a {
    display: none;
}

.contenitore3:hover .img3b {
    display: block;
}

img {
    margin-left: 10px;
}

.contenitore-img {
    position: relative;
    width: 33%;
    overflow: hidden;
}

.contenitore-img img {
    width: 100%;
    height: auto;
}

.heart:hover {
    color: red;
}

.heart {
    color: black;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.sconto {
    color: white;
    background-color: red;
    position: absolute;
    left: 10px;
    bottom: 30px;
    padding: 0 5px;
}

.sostenibilità {
    color: white;
    background-color: green;
    position: absolute;
    left: 56px;
    bottom: 30px;
    padding: 0 5px;
}

.marca {
    font-size: 0.8rem;
}